@font-face{
            font-family: 'HYLeMiaoTiW';
            src : url('../font/HYLeMiaoTiW.ttf');
        }

.fontFail {
            font-family: HYLeMiaoTiW;
        }

/*body{*/
/*    font-family: "HYLeMiaoTiW";*/
/*}*/